/* Default font and size */
html{
  scroll-behavior: smooth;
}

strong { 
  color: #02C39A;
}

a{
  text-decoration: none;
  color: #011A38;
}

body{

	width: 100vw;
	height: 100vh;

	/* center vertically */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	/* background behind the plot */
	/*background: rgb(40, 40, 40);*/
	background: white;

	/* default text */
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
	font-size: 1.1vw;/* 2vmin;*/
  color: #011A38;
}

#title{
  position: absolute;
  text-align: center;
  height: 15%;
  width: 100%;
}

.container-fluid{
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

}

.container-fluid::-webkit-scrollbar {
  /*display: none;*/
  width: 0.7vw;

}

/* Track */
.container-fluid::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.container-fluid::-webkit-scrollbar-thumb {
  background: #90E0EF; 
  border-radius: 50px;
}

.svg-container{
  scroll-snap-align: start;
}

.svg-container #vizop{
  position: absolute; 
  top: 10px;
  left: 10px;
  z-index: 9999 ;
  border-radius: 3px;
  background-color: #E4F8FB;
}

.svg-container #checkbox_google{
  position: absolute; 
  top: 10px;
  right: 10px;
  background-color: #E4F8FB;
  padding: 5px;
  border-radius: 3px;
  /*left: 80px;*/
  z-index: 9999 ;
}

.svg-container{
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  /*padding-bottom: 100%;  /*aspect ratio */
  vertical-align: top;
  overflow: hidden;
  /*background-color: lightgrey;*/
}

.tooltip{
  position: absolute;
  text-align: center;
  color: #011A38;
  /*top: 20%; /* match with the map!!*/
  width: auto;
  height: auto;
  padding: 3px 5px 3px 5px;
  /*font: 1em sans-serif;*/
  border: 0px;
  border-radius: 5px;
  background-color: #02C39A; /*#f7ebc3*/
}
/*-----------------------------------------------for lake page------------------------------------------*/
#text_descrition{
  position: absolute;
  width: 100%;
  top: 7%;
  text-align: center;
  font-size:3vmin; 
  width: 100%;
}

#lake_row{
  position: absolute;
  top: 12%;
  height: 33%;
  width: 100%;
}

#geo_and_stat{
  position: relative;
  height: 100%;
  width: 30%;
  left: 5%;
}

#lake_geojson{
  position: relative;
  height: 100%;
  width: 100%;
}

#lake_data{
  font-size: 2vmin;
  position: relative;
  top: -80%;
  padding-left: 20%;
}

#lake_measures{
  position: relative;
  height: 100%;
  width: 58%;
  top: -110%;
  left: 33%;
}

#lake_imgs{
  position: absolute;
  bottom: 25%;
  width: 100%;
  height: 30%;
  /*background-color: yellow;*/
  white-space: nowrap;
  overflow-x: auto;
}

.lake_img{
  height: 100%;
  padding: 5px;
}

#gglogo{
  position: absolute;
  bottom: 21%;
  left: 10px;
  height: 3%;
}

/*-----------------------------------------------for the first section------------------------------------------*/

#bar{
  position: absolute;
  top: 10%;
  /*bottom: 0;*/
  height: 10%;
  width: 100%;
  /*padding-top: 5%;*/
  padding-bottom: 0;
  /*background-color: darkblue;*/
}

#intro{
  position: absolute;
  text-align: center;
  color: white;
  width: auto;
  height: auto;
  padding: 3px 5px 3px 5px;
  /*font: 1em sans-serif;*/
  border: 0px;
  border-radius: 5px;
  background-color: #DA291C;
  opacity: 0;
}

.slider{
  position: absolute;
  top: 23%;
  height: 75%;
  width: 100%;
  overflow: hidden;
  /*background-color: greenyellow;*/
}
 
.slides {
  width: 500%;
  height: 95%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
  /*overflow: scroll;*/
  /*background-color: yellow;*/
}

.slide-content{
  position: absolute;
  width: 40%;
  margin-top: 20px;
  margin-left: 8%;
  font-size: 2vmin;
  /*overflow: scroll;*/
  /*background-color: lightpink;*/
}

.slide h2{
  margin-left: 4%;
  /*margin-top: 20px;*/
  font-weight: bold;
}

.navigation {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.navigation-btn {
  border: 2px solid #DA291C;
  margin-top: 5%;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-btn:not(:last-child) {
  margin-right: 40px;
}

.navigation-btn:hover {
  background: #DA291C;
  /*opacity: 0.8;*/
}

.checkedR{
  background: #DA291C;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}

#radio5:checked~.first {
  margin-left: -80%;
}

/*-----------------------------------------------for map section------------------------------------------*/
#section2{
  display: flex;
  position: relative;
}

/*------------------for game--------------------*/
#game_group{
  position: absolute;
  height: 100%;
  width: 32%;
  left: -31%;
  transition: 1s;
}

#game{
  position: absolute;
  background-color: #90E0EF; 
  height: 100%;
  width: 100%;
}

#chatBox{
  position: absolute;
  top: 10%;
  left: 5%;
  height: 80%;
  width: 90%;
  max-width: 350px;
  padding: 10px;
  /*text-align: center;*/
  background-color: #E4F8FB;
  border-radius: 5px;
  border-width: 7px;
  border-style: inset;
  border-color: #02C39A;
}

#dialogue{
  position: relative;
  top: 10px;
  height: 95%;
  /*background-color: lightcoral;*/
  overflow-x: hidden;
  overflow-y: auto;
}

.botMsg{
  position: relative;
  font-size: 13px;
  /*width: fit-content;*/
  margin-top: 7px;
  /*margin-right: 20px;*/
  border-radius: 5px;
  padding: 10px;
  background-color: #02C39A;
  text-align: left;
  border-radius: 15px 15px 15px 0;
  /*display: inline-block;*/

  transform-origin: 0 100%; /*define the origin of the transform*/
  transform: scale(0); /*originally the message is not shown!*/
  animation: message 0.15s ease-out 0s forwards; /*define the animation is message!!*/
}

@keyframes message {
  0% {
    max-height: 100vmax;
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    max-height: 100vmax;  
  }
}

.userMsg{ /*if a div is fixed or absolute you can use right: 0; to get the div to the right.*/
  position: relative;
  font-size: 13px;
  /*width: fit-content;*/
  margin-top: 7px;
  /*margin-left: 20px;*/
  /*border-radius: 5px;*/
  border-radius: 15px 15px 0px 15px;
  padding: 10px;
  background-color: #90E0EF;
  text-align: right;
  /*float: right;*/
  /*display: inline-block;*/

  transform-origin: 100% 100%;
  transform: scale(0); /*originally the message is not shown!*/
  animation: message 0.15s ease-out 0s forwards; /*define the animation is message!!*/
}

.choice{
  border-radius: 5px;
  background-color: white;
  text-align: center;
  margin-bottom: 5px;
  cursor:pointer;
}

.cr{
  background-color: #02C39A;
}

#game_btn{
  height: 50px; 
  width: 40px; 
  background-color: #90E0EF; 
  position: absolute; 
  border-radius: 45%; 
  left: calc(100% - 20px); 
  top: 48%;
  cursor: pointer;  
  z-index: 1000;
}

#game_icon{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 5px;
  transition: 1s;
}

/*------------------for map---------------------*/
#map_group{
  position: absolute;
  width: 99%;
  height: 100%;
  right: 0;
  transition: 1s;
}

#map{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.svgMap{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background-color: lightpink;*/
}

.SvgOverlay {
  position: relative;
  width: 100%;
  height: 100%;   
  /*background-color: lightseagreen;*/    
}

.SvgOverlay svg {
  position: absolute;
  top: -1000px;
  left: -1000px; 
  width: 2000px;
  height: 2000px;
  /*background-color: lightseagreen;
  opacity: 0.3;*/
}

.SvgOverlay path {
  stroke: #011A38;
  stroke-width: 2px;
  fill: white;
  fill-opacity: 0.01;
}

.box {
  float: left;
  top: 5px;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  clear: both;
}

.source{
  text-decoration: none;
  color: #011A38;
}

/*------------------for gashapon*/

#gashapon {
  position: absolute;
  left: 20%;
  top: 5%;
  max-width: 60%;
  max-height: 80%;
  aspect-ratio: 2 / 1.5;
}

#handler{
  cursor: pointer;
}

#cap{
  z-index: 999;
}

.lakeBall{
  cursor: pointer;
}

#gashapon_lake {
  position: absolute;
  width: 20%;
  aspect-ratio: 1 / 1.4;
  /*background-color: lightgrey;*/
  left: 55%;
  top: 10%;
}

.gashapon_content {
  position: relative;
  width: 100%;
  height: 100%;
  /*font-size: 13px;*/
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  background-color: #90E0EF;
  /*opacity: 0.5;*/
  text-align: center;

  transform-origin: 50% 100%; /*define the origin of the transform*/
  transform: scale(0); /*originally not shown!*/
  animation: lakeinfo 0.15s ease-out 0s forwards; /*define the animation!*/
}

@keyframes lakeinfo {
  0% {
    max-height: 100vmax;
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    max-height: 100vmax;  
  }
}

.gashapon_title {
  cursor: pointer;
  font-size: 2.7vmin;
  font-weight: bold;
}